<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="chopserve_source_mapping" sortOrder="10">
            <label>Hatsun</label>
        </tab>
        <section id="chopserve_source_mapping" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hatsun</label>
            <tab>chopserve_source_mapping</tab>
            <resource>Chopserve_SourceMapping::source_mapping_config</resource>
            <group id="time_cancel" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Time to Cancel</label>
                <field id="time_to_cancel" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Time to Cancel</label>
                    <comment>The time in minutes the customer can cancel after placing the order!</comment>
                </field>
            </group>
            <group id="mapping" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Source Mapping</label>
                <field id="breadcrumbs" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="meta_title" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Source Mapping list meta title</label>
                </field>
                <field id="meta_description" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Source Mapping list meta description</label>
                </field>
                <field id="meta_keywords" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Source Mapping list meta keywords</label>
                </field>
            </group>
        </section>
    </system>
</config>
