<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <chopserve_source_mapping>
            <mapping>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Source Mapping</meta_title>
            </mapping>
            <time_cancel>
                <time_to_cancel>0</time_to_cancel>
            </time_cancel>
        </chopserve_source_mapping>
    </default>
</config>
