<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Chopserve\Wallet\Api\UpdateBalanceManagementInterface" type="Chopserve\Wallet\Model\UpdateBalanceManagement"/>
	<preference for="Chopserve\Wallet\Api\CheckBalanceManagementInterface" type="Chopserve\Wallet\Model\CheckBalanceManagement"/>
</config>