<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hatsun\CustomeAddressLatAndLong\Api\LatandLongRepositoryInterface" type="Hatsun\CustomeAddressLatAndLong\Model\LatandLongRepository" />
    <preference for="Hatsun\CustomeAddressLatAndLong\Api\RouteRepositoryInterface" type="Hatsun\CustomeAddressLatAndLong\Model\RouteRepository" />
</config>