<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Chopserve\AuthCustomer\Api\OtpRepositoryInterface" type="Chopserve\AuthCustomer\Model\OtpRepository"/>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="auth_precheck" type="Chopserve\AuthCustomer\Plugin\AuthPreCheck"/>
    </type>
</config>
